@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap");

html {
  padding: 0;
  margin: 0;
  font-family: "Calibri", sans-serif !important;
}

body {
  font-family: "Calibri", sans-serif !important;
  background-color: #f8f9f9;
}

section {
  height: 100vh;
  width: 100%;
}

.flexbox {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: unset;
}

.centerItems{
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column
}

.inputBox{
  width: 100%;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px;
  padding: 20px;
}

textarea:focus{
  animation: none !important
}

footer {
  color: #B9A4DE
}

footer a {
  color: white
}

.navbar a {
  color: white;
}

.nav-link:hover {
  color: #03c4eb !important;
}

.center-align {
  margin-left: auto;
  margin-right: auto;
}

.service-item {
  padding: 10px;
  background: #ffffff;
  margin: 1em;
  border-radius: 20px;
}

.service-icon {
  display: block;
  margin: auto;
  color: #03c4eb;
}

.service-text {
  color: #777777;
  font-size: 0.875rem;
  line-height: 1,7;
  margin-left: 15px;
}

.row {
  display: flex;
}

.contact {
  margin-top: 20px;
  margin-bottom: 10px;
}

.address-header {
  margin-left: 10px;
}

.address-contact {
  margin-left: 20px;
  margin-bottom: 15px;
  margin-top: 5px;
  color: #777777;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .brand-size {
    font-size: 1em;
  }
}

@media only screen and (max-width: 300px) {
  .brand-size {
    font-size: 0.7em;
  }
}

